# Acquire

Let's acquire the parking citations data from our file.
1. Import libraries.
1. Load the dataset.
1. Display the shape and first/last 2 rows.
1. Display general infomation about the dataset - w/ the # of unique values in each column.
1. Display the number of missing values in each column.
1. Descriptive statistics for all numeric features.

[Los Angeles Parking Citations](https://www.kaggle.com/cityofLA/los-angeles-parking-citations)

In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sys

# Insert path to the source folder.
sys.path.insert(1, 'src/')
import acquire
import prepare

# Filter warnings
from warnings import filterwarnings
filterwarnings('ignore')

Load the dataset
- Filtered dataset of street sweeping citations from 2017-01-01 to 2020-12-20.

In [2]:
df = acquire.get_sweep_data()

In [3]:
df.shape

(1882464, 22)

In [4]:
df.head(2)

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,...,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude,Agency Description,Color Description,Body Style Description
3710355,4343388033,2018-10-25T00:00:00.000,1204.0,NaN,NaN,CA,201802.0,NaN,MNNI,PA,...,00472,54.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.477238e+06,1.854036e+06,NaN,NaN,NaN
3710357,4343388055,2018-10-25T00:00:00.000,1211.0,NaN,NaN,CA,201902.0,NaN,TOYT,PA,...,00472,54.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.477999e+06,1.851994e+06,NaN,NaN,NaN

In [5]:
df.tail(2)

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,...,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude,Agency Description,Color Description,Body Style Description
11179929,4522167742,2020-12-22T00:00:00.000,1046.0,NaN,NaN,CA,202010.0,NaN,SUBA,PA,...,00300,53.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.380484e+06,1.895415e+06,53 - DOT - VALLEY,GREY,PASSENGER CAR
11179980,4523214220,2020-12-22T00:00:00.000,833.0,NaN,NaN,CA,NaN,NaN,JAGU,PA,...,00553,55.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.478186e+06,1.808237e+06,55 - DOT - SOUTHERN,BEIGE,PASSENGER CAR

In [ ]:
df.info()

In [ ]:
df.describe()